Repository FuelLabs/sway-standards, pull requests merged in 2023-08, with the labels that each got.

#12 SRC-2 Change "Panic" to "Revert" terminology
  standards/src_2/README.md
Labels: SRC 2

#15 Update SRC-5 Ownership standard file to meet SRC-2 Inline Docs Standard
  standards/src_5/src/src_5.sw
Labels: Documentation, SRC 5

#14 Bump standards to forc v0.44
  .github/workflows/ci.yaml
  README.md
Labels: Repo Misc

#17 SRC-5: Update example typo
  standards/src_5/README.md
Labels: Documentation, SRC 5

#13 SRC-20 Token Standard
  README.md
  standards/Forc.toml
  standards/src_20/.docs/src-20-logo-dark-theme.png
  standards/src_20/.docs/src-20-logo-light-theme.png
  standards/src_20/Forc.toml
  standards/src_20/README.md
  standards/src_20/src/src_20.sw
Labels: SRC 20

#16 SRC-3 Mint and Burn Standard
  README.md
  standards/Forc.toml
  standards/src_3/Forc.toml
  standards/src_3/README.md
  standards/src_3/src/src_3.sw
Labels: SRC 3
