Repository FuelLabs/sway-standards, pull requests merged in 2023-12, with the labels that each got.

#44 Bump to forc v0.48.1
  .github/workflows/ci.yaml
  README.md
  examples/src_20/single_asset/src/single_asset.sw
  examples/src_3/multi_asset/src/multi_asset.sw
  examples/src_3/single_asset/src/single_asset.sw
  examples/src_7/multi_asset/src/multi_asset.sw
  examples/src_7/single_asset/src/single_asset.sw
Labels: Repo Misc

#24 Vault standard; SRC-6
  examples/src_6/multi_token_vault/.gitignore
  examples/src_6/multi_token_vault/Forc.toml
  examples/src_6/multi_token_vault/src/main.sw
  examples/src_6/single_token_single_sub_vault/.gitignore
  examples/src_6/single_token_single_sub_vault/Forc.toml
  examples/src_6/single_token_single_sub_vault/src/main.sw
  examples/src_6/single_token_vault/.gitignore
  examples/src_6/single_token_vault/Forc.toml
  examples/src_6/single_token_vault/src/main.sw
  standards/Forc.toml
  standards/src_3/README.md
  standards/src_3/src/src_3.sw
  standards/src_6/.docs/src-6-logo-dark-theme.png
  standards/src_6/.docs/src-6-logo-light-theme.png
  standards/src_6/Forc.toml
  standards/src_6/README.md
  standards/src_6/src/src_6.sw
Labels: SRC-6, New Standard

#46 Fix typo in SRC9 header
  standards/src_9/.docs/src-9-logo-dark-theme.png
  standards/src_9/.docs/src-9-logo-light-theme.png
Labels: Documentation, SRC-9

#48 Add missing standards, organize standards, and update links in source README
  README.md
  standards/src6-vault/README.md
Labels: Documentation, Enhancement, Repo Misc
