Repository FuelLabs/sway-standards, pull requests merged in 2024-08, with the labels that each got.

#126 Prepare master for v0.5.2 release
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/src/index.md
Labels: Release

#127 Release v0.5.2
  .github/workflows/ci.yaml
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/src/index.md
  examples/src14-simple-proxy/minimal/src/minimal.sw
  examples/src14-simple-proxy/owned/src/owned.sw
  examples/src6-vault/multi_asset_vault/src/main.sw
  examples/src6-vault/single_asset_single_sub_vault/src/main.sw
  examples/src6-vault/single_asset_vault/src/main.sw
  standards/src/src10.sw
Labels: Release

#131 Make the `SubId` an `Option` in SRC-3's `mint()` function
  CHANGELOG.md
  docs/src/src-3-minting-and-burning.md
  examples/src3-mint-burn/multi_asset/src/multi_asset.sw
  examples/src3-mint-burn/single_asset/src/single_asset.sw
  standards/src/src3.sw
Labels: SRC 3, Breaking

#130 Add event logging to SRC-20 and SRC-7 standards
  .github/workflows/ci.yaml
  CHANGELOG.md
  docs/spell-check-custom-words.txt
  docs/src/src-20-native-asset.md
  docs/src/src-7-asset-metadata.md
  examples/Forc.toml
  examples/src11-security-information/Forc.toml
  examples/src12-contract-factory/Forc.toml
  examples/src14-simple-proxy/Forc.toml
  examples/src20-native-asset/Forc.toml
  examples/src20-native-asset/multi_asset/src/multi_asset.sw
  examples/src20-native-asset/single_asset/src/single_asset.sw
  examples/src3-mint-burn/Forc.toml
  examples/src3-mint-burn/multi_asset/src/multi_asset.sw
  examples/src3-mint-burn/single_asset/src/single_asset.sw
  examples/src5-ownership/Forc.toml
  examples/src6-vault/Forc.toml
  examples/src7-metadata/Forc.toml
  examples/src7-metadata/multi_asset/src/multi_asset.sw
  examples/src7-metadata/single_asset/src/single_asset.sw
  standards/src/src20.sw
  standards/src/src7.sw
Labels: Enhancement, SRC 20, SRC-7

#139 Prepare for v0.6.0 release
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/src/index.md
Labels: Release

#137 Resolve warnings in examples
  CHANGELOG.md
  examples/src14-simple-proxy/owned/src/owned.sw
  examples/src5-ownership/initialized_example/src/initialized_example.sw
  examples/src6-vault/multi_asset_vault/src/main.sw
  examples/src6-vault/single_asset_single_sub_vault/src/main.sw
  examples/src6-vault/single_asset_vault/src/main.sw
Labels: Documentation, SRC 5, SRC-6, SRC 14

#140 Release v0.6.0
  .github/workflows/ci.yaml
  CHANGELOG.md
  Cargo.toml
  README.md
  docs/spell-check-custom-words.txt
  docs/src/index.md
  docs/src/src-20-native-asset.md
  docs/src/src-3-minting-and-burning.md
  docs/src/src-7-asset-metadata.md
  examples/Forc.toml
  examples/src11-security-information/Forc.toml
  examples/src12-contract-factory/Forc.toml
  examples/src14-simple-proxy/Forc.toml
  examples/src20-native-asset/Forc.toml
  examples/src20-native-asset/multi_asset/src/multi_asset.sw
  examples/src20-native-asset/single_asset/src/single_asset.sw
  examples/src3-mint-burn/Forc.toml
  examples/src3-mint-burn/multi_asset/src/multi_asset.sw
  examples/src3-mint-burn/single_asset/src/single_asset.sw
  examples/src5-ownership/Forc.toml
  examples/src6-vault/Forc.toml
  examples/src7-metadata/Forc.toml
  examples/src7-metadata/multi_asset/src/multi_asset.sw
  examples/src7-metadata/single_asset/src/single_asset.sw
  standards/src/src20.sw
  standards/src/src3.sw
  standards/src/src7.sw
Labels: Release

#135 chore: update to forc 0.63.3
  .github/workflows/ci.yaml
  CHANGELOG.md
  README.md
  docs/src/index.md
  examples/src14-simple-proxy/minimal/src/minimal.sw
  examples/src14-simple-proxy/owned/src/owned.sw
Labels: Repo Misc, SRC 14, Blocked

#136 docs: update src14 storage recommendation and general typos
  CHANGELOG.md
  README.md
  docs/spell-check-custom-words.txt
  docs/src/src-12-contract-factory.md
  docs/src/src-13-soulbound-address.md
  docs/src/src-14-simple-upgradeable-proxies.md
  docs/src/src-2-inline-documentation.md
  docs/src/src-5-ownership.md
  docs/src/src-6-vault.md
  docs/src/src-8-bridged-asset.md
  docs/src/src-9-metadata-keys.md
  examples/src5-ownership/uninitialized_example/src/uninitialized_example.sw
  standards/src/src14.sw
  standards/src/src5.sw
Labels: Documentation, SRC 14, Blocked

#148 Remove metadata helper functions
  CHANGELOG.md
  standards/src/src7.sw
Labels: SRC-7
