Repository FuelLabs/sway-standards, pull requests merged in 2024-06, with the labels that each got.

#99 docs: SRC-14 grammar and example links
  README.md
  SRCs/src-14.md
Labels: Documentation, SRC 14

#104 Add empty CHANGELOG.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  README.md
Labels: Enhancement, Repo Misc

#107 Add `proxy_owner()` function to the SRC-14 standard
  CHANGELOG.md
  docs/src/src-14-simple-upgradeable-proxies.md
  examples/src14-simple-proxy/minimal/src/minimal.sw
  examples/src14-simple-proxy/owned/src/owned.sw
  standards/src/src14.sw
Labels: Bug, SRC 14

#105 Sway-Standards Codeowners update for new team name
  .github/CODEOWNERS
Labels: Repo Misc

#110 SRC14 add `proxy_target()`
  CHANGELOG.md
  docs/src/src-14-simple-upgradeable-proxies.md
  examples/src14-simple-proxy/minimal/src/minimal.sw
  examples/src14-simple-proxy/owned/src/owned.sw
  standards/src/src14.sw
Labels: Enhancement, Breaking, SRC 14

#106 Update links to use docs hub
  README.md
  docs/src/src-2-inline-documentation.md
  docs/src/src-5-ownership.md
Labels: Documentation

#108 Prepare for release v0.5.1
  CHANGELOG.md
  README.md
  docs/src/index.md
Labels: Release

#117 Fix Cargo.toml on release
  CHANGELOG.md
  Cargo.toml
Labels: Release
